@font-face {
  font-family: "Netflix";
  src: url("`@/fonts/NetflixSansLight.ttf") format("ttf");
  font-weight: 300;
  unicode-range: U+0026;
}

@font-face {
  font-family: "Netflix";
  src: url("`@/fonts/NetflixSansRegular.ttf") format("ttf");
  font-weight: 400;
  unicode-range: U+0026;
}

@font-face {
  font-family: "Netflix";
  src: url("`@/fonts/NetflixSansBold.ttf") format("ttf");
  font-weight: 500;
  unicode-range: U+0026;
}
